.DS_Store
node_modules
dist
.env
.vscode
*.log
.idea
*.iml
*.class
*.jar
*.war
*.ear
*.swp
*~
*.bak
*.tmp
# Config files.
package-lock.json
# Just not pushable at all.
2-Structuring and testing data/*