html * {
  font-family: "Lato", sans-serif;
  ;
}

.content {
  width: 80ch;
  margin: 0 auto;
}

input::placeholder {
  color: lightgrey;
  font-size: 0.85rem;
}

.form {
  margin-top: 2rem;
}

.form label,
.form button {
  margin-top: 1rem;
  display: block;
}